<div class="table_container">
	<h2>Log In for Spicoli's Management</h2>
	<form action="/sessions" method="post">
		<input type="text" name="username" placeholder="Username"></br>
		<input type="password" name="password" placeholder="Password"></br>
		<input type="submit" value="Log In">
	</form>
	<a href="/users/signup">Not a member? Sign up</a>
</div>