<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Restaurant Coordinator 3000</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ribeye+Marrow' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="navigation">
		<ul>
			<a href="/foods"><li>MENU</li></a>
			<li id="nav_title">Steven Seagal's</br>House of Waffles</li>
			<a href="/parties"><li>TABLES</li></a>
		</ul>	
	</div>
	<%= yield %>
</body>
</html>