<div class="container">
	<h2 class="first_heading">Edit <span class="menu_heading" style="font-size: 24px;">the <%= @food.name %></span> details</h2>
	<%= erb(:'foods/_form' , locals:{food: @food, method: "patch"}) %>
</div>

