<div class="container">
	<h2>Edit the <%= @food.name %> details</h2>
	<form action="/foods/<%= @food.id %>" method="post">
		<input type="hidden" name="_method" value="patch">
		Food Name:<input type="text" name="food[name]">
		<p>What course is the item?</p>
		<input type="radio" name="food[course]" value="appetizer">Appetizer</br>
		<input type="radio" name="food[course]" value="entree">Entree</br>
		<input type="radio" name="food[course]" value="desert">Desert</br>
		Item Price:<input type="number" name="food[price]" min="1" max="50">
		<p>Spicy?</p>
		<input type="radio" name="food[spicy]" value="true">Yes</br>
		<input type="radio" name="food[spicy]" value="false">No</br>
		<input type="submit" value="Edit Item">
	</form>
	</br>
	Or
	<form action="/foods/<%= @food.id %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete Item">
	</form>

	
</div>