<div class="container">
	<h2 class="first_heading">Add a new menu item</h2>
	<form action="/foods" method="post">
		Food Name:<input type="text" name="food[name]">
		<p>What course is the item?</p>
		<input type="radio" name="food[course]" value="appetizer">Appetizer</br>
		<input type="radio" name="food[course]" value="entree">Entree</br>
		<input type="radio" name="food[course]" value="desert">Desert</br>
		Item Price:<input type="number" name="food[price]" min="1" max="50">
		<p>Spicy?</p>
		<input type="radio" name="food[spicy]" value="true">Yes</br>
		<input type="radio" name="food[spicy]" value="false">No</br>
		<input type="submit" value="Add to Menu">
	</form>
	<!-- IF VALIDATIONS CAUSE ERROR -->
	<% if @errors %>
	<div class="errors">
	<h1>NAH UH! YOU HAVE <%= @errors.count %> <%= @errors.count == 1 ? "ERROR" : "ERRORS" %>.</h1>
	  <ul>
	    <% @errors.each do |error|  %>
	      <li><h3><%= error %></h3></li>
	    <% end %>
	  </ul>
	</div>
	<% end %>
</div>
