<div class="container">
	<h1 class="first_heading text_align menu_heading">Restaurant Availability</h1>

	<!-- RESTAURANT LAYOUT -->
	<div class="layout">

		<% 10.times do |table_number| %>
		<div class="square">
			<div class="vertical_middle">
				TABLE <%= table_number + 1 %> </br>
				<% current_party = @parties.find { |party| party.table_number == table_number + 1 } %>
				<% if current_party %>
				<a href="/parties/<%= current_party.id %>"><%= "The " + current_party.last_name + " Party" %></a>
				<% else %>
				<a href="/parties/new?table_number=<%= table_number + 1 %>">OPEN</a>
				<% end %>
			</div>
		</div>

		<% end %>


	</div>
</div>