<div class="container">
	<h1 class="first_heading">New Party has Arrived!</h1>
	<form action="/parties" method="post">
		Table Number:<input type="number" name="party[table_number]" min="1" max="10" value="<%= @table_number %>">
		Guests:<input type="number" name="party[guests]" min="1" max="12">
		<input type="text" name="party[last_name]" placeholder="Last name of party:">
		<input type="hidden" name="party[payment_status]" value="false">
		<input type="submit" value="Add Party">
	</form>

<!-- 	if error for table already taken -->
	<% if @errors %>
		<div class="errors">
		<img src="http://a2.espncdn.com/photo/2012/0115/as_surf_spicoli_300.jpg" alt="">
		<h1>Whoa Bro... We have <%= @errors.count %> <%= @errors.count == 1 ? "ERROR" : "ERRORS" %>.</h1>
		  <ul>
		    <% @errors.each do |error|  %>
		      <li><h3><%= error %></h3></li>
		    <% end %>
		  </ul>
		</div>
	<% end %>
	
</div>