<div class="table_container">
	<h2>Sign Up for Spicoli's Management</h2>
	<form action="/users" method="post">
		<input type="text" name="user[username]" placeholder="Username">
		<input type="password" name="password_hash" placeholder="Password">
		<input type="submit" value="Sign Up!">
	</form>
</div>